.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body{
  background-color: #282c34;
  color: #61dafb;
}
.main-title{
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-button{
  display: block;
  background-color: #282C34;
  border: 1px solid #61dafb;
  height: 50px;
  border-radius:10px; 
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  width: 200px;
  text-decoration: none;
  line-height: 50px; 
  text-align: center;


}

.home-button:hover{
  background-color: #61dafb;
  color: #282C34;
  transition: all .15s ease-in-out;
}
.card_container{
  max-width: 1980px;
  margin: 0 auto;
}
.search{
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  margin-bottom: 25px;
  
  padding-right: 10px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  justify-content: center;
  margin: 0 auto;
}
.wrapper-card{
  margin-top: 25px;
  box-shadow: 4px 5px 11px rgba(62, 197, 255, 0.25);
  
}

.wrapper-card,img{
  
  width: 320px;
  float: left;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

}
h3{
  height: 50px;
  text-align: center;
}